{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GSA - Guinean Succeding in America</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Kaushan+Script' %}' rel='stylesheet' type='text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' %}' rel='stylesheet' type='text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' %}' rel='stylesheet' type='text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/agency.min.css ' %}" rel="stylesheet">

</head>




<body id="page-top">


<!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><i>Guinean Succeding in America - U.S</i></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria.0-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Successful Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
<!-- Header -->

  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To GSA!</div>
        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
      </div>
    </div>
  </header>



<!-- About Us -->

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About US</h2>
          <h3 class="section-subheading text-muted">
            Guineans Succeeding in America (GSA) is a nonprofit organization that strives to empower the Guinean-American community through education and professional development. The organization fosters and nurtures relationships between professionals and students of Guinean descent in the United States and provides resources that promote academic and professional development as well as mentorship. 
            <br/><br/>
            GSA is an umbrella organization that consists of Guinean Graduates, a platform that highlights graduates of Guinean descent; EachOne LiftOne, a mentorship program; and the Guinean Students Association. The students association currently has chapters in four colleges, offering professional development assistance through events and workshops that foster a friendly and welcoming environment for both new and continuing students. 
            
          </h3>
        </div>

      </div>

      <div class="row text-center">


<!-- Baruch College -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Baruch College</h4>
          <p class="text-muted">The GSA chapter of Baruch was the first GSA club/chapter to be created and which was established at Baruch over the spring of 2014 by one of the Co-founders Abdourahman Diallo, former student of Baruch College. The GSA of Baruch's main mission, as it is the main goal of the organisation as a whole, was to inspire and empower the the Guinean community through education</p>
        </div>

<!-- City Tech -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">City College of Technology</h4>
          <p class="text-muted">The GSA chapter of City Tech was funded in 2015 by Thierno Diallo who is currently working at the Federal Reserve Bank of New York as a Data Scientist. The GSA of City Tech is mostly focus on helping students to get involved on campus, and train them to have the basic of leadership skills that will take them to the next level </p>
        </div>


<!-- City College -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">The City College of New York</h4>
          <p class="text-muted">The GSA chapter of CCNY was created in 2015 and had major activities such as HTML workshops, Panel discusions, and Resume workshops.</p>
        </div>


<!-- Borough of Manhattan Community College -->
         <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Borough of Manhattan Community College</h4>
          <p class="text-muted">The GSA chapter of BMCC was recently created in the Spring 2019 and its main goal is to unify the Guinean community within all CUNY college</p>
        </div>


<!-- Lehman College -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Lehman College</h4>
          <p class="text-muted">Upcoming: Working on the registration process of registering the Chapter at Lehman College.</p>
        </div>


      </div>
    </div>
  </section>



<!-- Successfull Stories -->

  <section class="bg-light page-section" id="portfolio">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Guineans Grads 2019</h2>
          <h3 class="section-subheading text-muted">2019 Stories - #GuineanGraduates #SuccessStories</h3>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/01-Fatoumata_B.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Fatoumata Diallo</h4>
            <p class="text-muted">Digital Marketing major & a minor in Political Science @Baruch College</p>
          </div>
        </div>

        <!-- <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/01-thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Threads</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div> -->


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/02-Fatoumata_c.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Fatoumata Cisse</h4>
            <p class="text-muted">Management Business Technology major @City Tech</p>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/03-Gilbert_N.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Gilbert Nyantakyi</h4>
            <p class="text-muted">Economics major & Mathematics_Statistics minor @Baruch College</p>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/04-Dieynabou_B.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Dieynabou Barry</h4>
            <p class="text-muted">Global Environmental Change in Nicholas School of the Environment @Duke University</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/05-Aliou_D.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Mamadou Aliou Diallo</h4>
            <p class="text-muted">Business Administration major specialized in Finance @Georgia State University</p>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/06-Aminata_B.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Aminata Bah</h4>
            <p class="text-muted">Political Science major & International Studies minor @University of Illinois in Springfield</p>
          </div>
        </div>

<!-- ....................... -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/07-HB.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Hafiziou Barry</h4>
            <p class="text-muted">Finance major @Zicklin School of Business in Baruch College</p>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/08-FBD.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Fatoumata Binta Diallo</h4>
            <p class="text-muted">Nursing major @Southwest Tennesse Community College</p>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>

            <img class="img-fluid" src="static/img/Success/09-OB.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Oury Bah</h4>
            <p class="text-muted">Accounting major @Chicago State University</p>
          </div>
        </div>





      </div>
    </div>
  </section>



<!-- Events -->

  <section id="Events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Events</h2>
          <h3 class="section-subheading text-muted">
            <i style="color:red">Recent : </i>
            Come join us at the fourth annual Guineans Succeeding in America (GSA) conference, a nurturing professional and social gathering that is expected to attract at least 1,000 attendees. The conference will take place on Saturday, September 28, 2019 at the City College of New York — City University of New York (CUNY), 160 Convent Avenue, New York, NY 10031 from 2 p.m. to 8 p.m.
            <br/>
            <b>#HereToSucceed #GSA2019Conference</b>
            <br />
            <br />
            Register here:
                  <a href="https://www.eventbrite.com/e/guineans-succeeding-in-america" target="_blank"> https://www.eventbrite.com/e/the-4th-annual-guineans-succeeding-in-america-gsa-conference-tickets-64514554770 </a>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">


            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/Events/gsa1.jpg" alt="">
              </div>

              <div class="timeline-panel">


                <div class="timeline-heading">
                  <h4>2014-2019</h4>
                  <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The idea was first introduced by a young Guinean called Abdourahmane Diallo, former student at Baruch College. The first GSA club/chapter was established at Baruch College over the Spring of 2014.</p>
                </div>
              </div>
            </li>



            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/Events/gsa1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Sept 2016</h4>
                  <h4 class="subheading">1st Annual GSA Conference</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The First annual GSA conference was on September 2016</p>
                </div>
              </div>
            </li>




            <li class="timeline-image">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/Events/1s.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Oct 2017</h4>
                  <h4 class="subheading">2nd Annual GSA Conference </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The 2nd annual GSA networking event took place on October 28, 2017 at Medgar Evers College.</p>
                </div>
              </div>
            </li>



            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/Events/GSA.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Sept 2018</h4>
                  <h4 class="subheading">3r Annual GSA Conference</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The 3rd GSA annual conference took place on September 2018 at the City College of New York</p>
                </div>
              </div>
            </li>



            <li class="timeline-image">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/Events/GSA.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Sept 2019</h4>
                  <h4 class="subheading">4th Annual GSA Conference</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"><i style="color: red">Recent : </i> Are you looking for an internship or a full-time job? Do you want advice on how to build a startup? Do you want to know what it takes to be a successful business owner? Are you looking to expand your network? Come join us at the fourth annual Guineans Succeeding in America (GSA) conference, a nurturing professional and social gathering that is expected to attract at least 1,000 attendees. The conference will take place on Saturday, September 28, 2019 at the City College of New York — City University of New York (CUNY), 160 Convent Avenue, New York, NY 10031 from 2 p.m. to 8 p.m.
                  <b>#HereToSucceed #GSA2019Conference
                  </b>
                  <br/><br/>
                  Register here:
                  <a href="https://www.eventbrite.com/e/guineans-succeeding-in-america" target="_blank"> https://www.eventbrite.com/e/the-4th-annual-guineans-succeeding-in-america-gsa-conference-tickets-64514554770 </a>
                  </p>
                </div>
              </div>
            </li>



            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Team!</h4>
              </div>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </section>



<!-- Team -->
  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing E-BOARD</h2>
          <h3 class="section-subheading text-muted">Our current GSA e-board are composed of 4 members:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/Asuma.jpeg" alt="">
            <h4>Asuma Jalloh</h4>
            <p class="text-muted">President</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>; 

        <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/Be.jpeg" alt="">
            <h4>Bernadette Sylla</h4>
            <p class="text-muted">Communication Lead</p>
            <!-- <p>Occupation: Resident Physician in Pediatrics at Morristown Medical Center/Goryeb Children’s Hospital</p> -->
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/Me.jpg" alt="">
            <h4>Kaly Diallo</h4>
            <p class="text-muted">IT Lead</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/madkaly.diallo" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/kalydiallo/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/Bah.jpeg" alt="">
            <h4>Mamata Bah</h4>
            <p class="text-muted">Membership & Recruiting Lead </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="text-center">
          <p class="">The President, The Communication Lead, The Membershi & Recruiting Lead, and The IT Lead</p>
        </div>
      </div>
    </div> -->
  </section>



<!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/G1.jpg" alt="">
          </a>
        </div>


        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/.jpg" alt="">
          </a>
        </div>


        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/G2.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>



<!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">We are always happy to hear from you :) </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



<!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; GSA 2019</span>
        </div>

        <!-- social media buttons -->
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/Guineans-Succeeding-in-America-374355166502917/" target="_clear">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/gsa-us/" target="_clear">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



<!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Fatoumata Diallo</h2>
                <p class="item-intro text-muted">Congratulations to Fatoumata Diallo</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/01-full.jpg" alt="">
                <p>Fatoumata Diallo is the current president of The Guinean Students Association at Baruch College of the City University of New York. She is a rising senior at Baruch College majoring in Digital Marketing with a minor in Political Science.
                <br /><br />
                This summer, Fatoumata will be interning at LinkedIn in San Francisco as part of their Client Solutions team within the LinkedIn Marketing Solutions Business. This past summer, Fatoumata had the opportunity to intern for the Financial Times as a Marketing and Communications Intern. She is also currently interning at the Walt Disney Company as a Sales Development and Marketing Intern.
                <br /><br />
                Fatoumata is a big proponent of quality education for women. That is why as a freshman, Fatoumata joined AIESEC, which is the largest youth-run organization globally, where she took on over three roles, all within the course of one academic year. In addition, due to her academic excellence, Fatoumata was inducted into the Phi Eta Sigma National Honor Society. Immediately after her first year, she was nominated for an executive board position as the Marketing Director; and she served as the president of the organization for the 2017-2018 academic year.
                <br /><br />
                Congratulations Fatoumata Diallo. We look forward to your future success and achievements
                <b>
                #prouGSA
                #HereToSucceed
                #Highlighof2019

                </p>
                
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Fatoumata Cisse</h2>
                <p class="item-intro text-muted">Congratulations to Fatoumata Cisse</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/02-full.jpg" alt="">
                <p>Fatoumata Cisse is the Social Media Coordinator for the Guinean Students Association at the New York City College of Technology of the City University if New York. She is a junior bachelor’s degree student in Management Business Technology.
                <br /><br />
                This summer, Fatoumata will be interning for the Brooklyn Navy Yard in their Finance and Merchandising department. During the 2019 spring semester, she interned at a nonprofit organization called Students Leadership Network where she collects and analyzes data on the organization’s performance and goals. She is also working on creating a website for the organization with her co-workers.
                <br /><br />
                Additionally, Fatoumata is part of the New York Public Interest Group (NYPIRG) where she is currently working to ensure the City University of New York gets more funding and tuition assistance for students. Fatoumata is passionate about community service.
                <br /><br />
                Congratulations Fatoumata Cisse. We look forward to your future success and achievements
                <b>
                #ProudGSA
                #HereToSucceed
                #Highlightof2019
              </p>
              </b>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Gilbert Nyantakyi</h2>
                <p class="item-intro text-muted">Congratulations to Gilbert Nyantakyi</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/03-full.jpg" alt="">
                <p>Gilbert is the former Vice President of the Guinean Students Associatioan at Baruch College of the City of New York.
                <br /><br/>
                He is currently pursuing a bachelor's degree in Economics and a minor in mathematics and statistics. Currently, he is a GMAT ambasssador for the Graduate Management Admissions Council and Economics and Finance at the Zicklin School of Business at Baruch College where he assists in researching investors risk preferences.
                <br /><br/>
                This summer, Gilbert will be interning at the Federal Reserve Bank of New York as a Summer Analyst in the Markets Groups. In the future, he hopes to continue his education in Economics, as he aspire to become a great economist.
                 <br /><br/>
                 Congratulations Gilbert Nyantakyi. We look forward to your future success and achievements
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019


                </p>

                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Dieynabou Barry</h2>
                <p class="item-intro text-muted">Congratulations to Dieynabou Barry</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/04-full.jpg" alt="">
                <p>Dieynabou Barry concentration at the Nicholas School was global environmental change so I looked climate law and policy, as well as energy use and energy access in West Africa.
                <br/><br/>
                She is a Gates Millenium Scholar and a recipient of Abele Award for Nicholas School Student of the Year which reconizes the contribution of students of the African diaspora to their communities. She also completed a certificate in international development policy from the Standford School of Public Policy.
                She hopes to continue working in international development with a focus on climat policy and women rights in West Africa.
                <br/><br/>
                Congratulation Djenabou Barry. We look forward to your future success and achievements.

                <br /><br/>
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019
                </p>
        
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Mamadou Aliou Diallo</h2>
                <p class="item-intro text-muted">Congratulations to Mamadou Aliou Diallo</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/04-full.jpg" alt="">
                <p>Mamadou Aliou Diallo graduated with a Bachelors of Business Administration in Finance. During his time at Georgia State, he served as a Senator of the 89th Administration of the Student Government Association, a brother of Alpha Kappa Psi Professional Business Fraternity, the Treasurer of the French Club, a member of the National Society of Leadership and Success, and last but not least a member of the Finance Society
                <br /><br />
                Congratulations Mamadou Aliou Diallo. We look forward to your future success and achievements</p>

                <br /><br/>
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019
                </p>
        
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">

  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Aminata Bah</h2>
                <p class="item-intro text-muted">Congratulations to Aminata Bah</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/06-full.jpg" alt="">
                <p>Aminata Bah majored in political science and minored in International Studies. She is currently working as an HR representative at bitsIO Inc (an IT company).
                <br/><br/>
                Congratulations Aminata Bah. We look forward to your future success and achievements
                <br/><br/>
                <b>
                #ProudGSA
                #HereToSucceed
                #Highlightof2019
                </p>
                
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 7 -->
   <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">

  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Hafiziou Barry</h2>
                <p class="item-intro text-muted">Congratulations to Hafiziou Barry</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/06-full.jpg" alt="">
                <p>Hafiziou Barry is the former chair of career development at GSA Baruch.
                <br/><br/>
                He graduated from Bronx Community College in the spring of 2015 with an associate degree in Marketing Management. He then transferred to Baruch College to pursue his bachelor’s degree in Finance at the Zicklin School of Business where he graduated in spring 2018.
                During the fall 2017 semester, he volunteer as a math and French tutor at the Harlem Education Activity Fund – HEAF. In the summer of 2018, he interned at the Brooklyn Navy Yard Development Corporation as a Finance Intern. As of now’ he works at Amalgamated Bank as a Fund Accountant.
                <br/><br/>
                Hafiziou is a true believer of consistent learning and giving back to the community. He believes that “If you approach the world as a student, you can achieve anything you deserve”

                <br/><br/>
                Congratulations Hafiziou Barry. We look forward to your future success and achievements

                <br /><br/>
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019
                </p>
              
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



   <!-- Modal 8 -->
   <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">

  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Fatoumata Binta Diallo</h2>
                <p class="item-intro text-muted">Congratulations to Fatoumata Binta Diallo</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/06-full.jpg" alt="">
                <p>Fatoumata Binta Diallo graduated recently from Southwest Tennessee Community College.
                <br /><br/> 
                Fatoumata Binta Diallo has successfully earned an Associates Degree and she will be pursuing her college journey at Baptist College of Health Sciences, where she will be working towards an RN-BSN degree in nursing
                <br/><br/>
                Congratulations Fatoumata Binta Diallo. We look forward to your future success and achievements

                <br /><br/>
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019
                </p>
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




   <!-- Modal 9 -->
   <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">

  <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Oury Bah</h2>
                <p class="item-intro text-muted">Congratulations to Oury Bah</p>
                <img class="img-fluid d-block mx-auto" src="static/img/portfolio/06-full.jpg" alt="">
                <p>Oury Bah graduated recently from Chicago State University with a Bachelor’s degree in Accounting.
                <br/><br/>
                As a student, Oury was a honors student on the Dean’s List, Member of Delta Mu Delta, Vice President of the NABA chapter at her school and 
                President of the Global Student Association. She was selected out of 65 students to be on the JPMorgan Chase & Co. Launching Leaders Undergraduate Program.
                <br/><br/>
                Oury will begin her career at Deloitte this September and hopes to use the experience to open businesses in Africa that help the needy.
                <br/><br/>
                Congratulations Oury Bah. We look forward to your future success and achievements

                <br /><br/>
                 <b>
                 #ProudGSA
                 #HereToSucceed
                 #Highlightof2019
                </p>
                
                </b>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/agency.min.js' %}"></script>

  <!-- to run the server type : manage.py runserver -->

</body>

</html>



